#body {
    position: relative;
    background: #283593;
}

/* Logo TCH */
.col-satu-row-satu {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Logo Honeycomb TCH */
.col-dua-row-satu {
    position: absolute;
    top: -44px;
    right: -50px;
}

/* Menu HRIS */
.col-satu-row-dua {
    position: absolute;
    top: 464px;
    left: 30px;
}

/* Menu IT Services */
.col-dua-row-dua {
    position: absolute;
    top: 535px;
    left: 160px;
}

/* Menu Manufacture */
.col-tiga-row-dua {
    position: absolute;
    top: 464px;
    left: 289px;
}

/* ========================================= */
/* CSS JS */
/* ========================================= */
body {
    background-color: #2a3a49;
    padding: 0;
    margin: 0;
}

.container, .menu {
    height: 140px;
    width: 160px;
    position: absolute;
    margin: auto;
    top: 460px;
    bottom: 300px;
    left: -90px;
    right: 1150px;
    cursor: pointer;
}

.menu {
    z-index: -1;
    transform: scale(0.9);
}

.toggle {
    height: 0;
    width: 160px;
    border-bottom: 70px solid #0d47a1;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0;
}

.toggle:before {
    content: '';
    height: 0;
    width: 160px;
    border-top: 70px solid #0d47a1;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top: 70px;
    left: -40px;
}

.item {
    height: 0;
    width: 160px;
    border-bottom: 71px solid #5472d3;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0;
    transition: 1s;
    left: 10px;
}

.item:before {
    content: '';
    height: 0;
    width: 160px;
    border-top: 70px solid #5472d3;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top: 70px;
    left: -40px;
}

#add {
    font-size: 100px;
    color: white;
    position: relative;
    top: 20px;
    right: 10px;
    transition: 1s;
}

a>.material-icons {
    color: #d2d2d2;
    font-size: 60px;
}

a {
    position: relative;
    top: 40px;
    left: 10px;
}

a>.material-icons:hover {
    color: #80d8ff;
    transform: scale(1.3);
}

/* CSS Menu Dua */
.container-dua, .menu-dua {
    height: 140px;
    width: 160px;
    position: absolute;
    margin: auto;
    top: 500px;
    bottom: 190px;
    left: -90px;
    right: 852px;
    cursor: pointer;
}

.menu-dua {
    z-index: -1;
    transform: scale(0.9);
}

.toggle-dua {
    height: 0;
    width: 160px;
    border-bottom: 70px solid #0d47a1;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0;
}

.toggle-dua:before {
    content: '';
    height: 0;
    width: 160px;
    border-top: 70px solid #0d47a1;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top: 70px;
    left: -40px;
}

.item-dua {
    height: 0;
    width: 160px;
    border-bottom: 71px solid #5472d3;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0;
    transition: 1s;
    left: 8px;
}

.item-dua:before {
    content: '';
    height: 0;
    width: 160px;
    border-top: 70px solid #5472d3;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top: 70px;
    left: -40px;
}

#add-dua {
    font-size: 100px;
    color: white;
    position: relative;
    top: 20px;
    right: 10px;
    transition: 1s;
}

a>.material-icons {
    color: #d2d2d2;
    font-size: 60px;
}

a {
    position: relative;
    top: 40px;
    left: 10px;
}

a>.material-icons:hover {
    color: #80d8ff;
    transform: scale(1.3);
}

/* CSS Menu Tiga */
.container-tiga, .menu-tiga {
    height: 140px;
    width: 160px;
    position: absolute;
    margin: auto;
    top: 460px;
    bottom: 300px;
    left: -90px;
    right: 580px;
    cursor: pointer;
}

.menu-tiga {
    z-index: -1;
    transform: scale(0.9);
}

.toggle-tiga {
    height: 0;
    width: 160px;
    border-bottom: 70px solid #0d47a1;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0;
}

.toggle-tiga:before {
    content: '';
    height: 0;
    width: 160px;
    border-top: 70px solid #0d47a1;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top: 70px;
    left: -40px;
}

.item-tiga {
    height: 0;
    width: 160px;
    border-bottom: 71px solid #5472d3;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0;
    transition: 1s;
    left: 8px;
}

.item-tiga:before {
    content: '';
    height: 0;
    width: 160px;
    border-top: 70px solid #5472d3;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top: 70px;
    left: -40px;
}

#add-tiga {
    font-size: 100px;
    color: white;
    position: relative;
    top: 20px;
    right: 10px;
    transition: 1s;
}

a>.material-icons {
    color: #d2d2d2;
    font-size: 60px;
}

a {
    position: relative;
    top: 40px;
    left: 10px;
}

a>.material-icons:hover {
    color: #80d8ff;
    transform: scale(1.3);
}